.App {
  min-height: 100vh;
  height: 100%;
  position: relative;
}
.MuiDataGrid-cell, .MuiDataGrid-colCell {
  outline: none !important;
  white-space: normal !important;
  word-break: normal !important;
}
.MuiPickersDay-root {
  border-radius: 50% !important;
}