.App {
  min-height: 100vh;
  height: 100%;
  position: relative;
}
.MuiDataGrid-cell, .MuiDataGrid-colCell {
  outline: none !important;
  white-space: normal !important;
  word-break: normal !important;
}
.MuiPickersDay-root {
  border-radius: 50% !important;
}

/* RTL Action Button spacing bug */
.MuiDialogActions-spacing > :not(:first-child) {
  margin-left: 8px;
  margin-right: 8px;
}

/* DataGrid page count selector bug */
.MuiInputBase-root {
  display: inline-flex !important
}